[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/afew --move-mails
ExecStart=/usr/bin/mbsync -c /home/{{.chezmoi.username}}/.config/isync/mbsyncrc -Va
ExecStartPost=/usr/bin/notmuch new && bash /home/{{.chezmoi.username}}/.local/share/mail/.notmuch/hooks/post-new
Environment=NOTMUCH_CONFIG=/home/{{.chezmoi.username}}/.config/notmuch/notmuchrc
