{{- $email := promptString "email" -}}
{{- $name  := promptString "name"  -}}
[data]
    email = {{ $email | quote }}
		name  = {{ $name  | quote }}

[keepassxc]
    database = "/home/{{ .chezmoi.username }}/cloud/keepass/keepass.kdbx"
