{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set +x
{{ range $default := .osx_defaults.defaults -}}
defaults write {{ $default.domain }} {{ $default.element }} -{{ $default.type }} {{ $default.value }}
{{ end -}}

{{ range $app := .osx_defaults.kill_to_apply -}}
killall {{ $app }}
{{ end -}}

{{ end -}}
