{{if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash
set -euo pipefail

if ! type paru&>/dev/null; then
	PARU_PATH=/tmp/paru
	if [ -d $PARU_PATH ]; then
		sudo /usr/bin/rm -rf $PARU_PATH
	fi
	git clone https://aur.archlinux.org/paru.git $PARU_PATH
	(cd $PARU_PATH && makepkg -si)
fi

paru -Syu --nouseask --sudoloop - <"$HOME/.local/share/chezmoi/Pacfile"
{{ end }}
