{{if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash
set -euo pipefail

if ! type paru&>/dev/null; then
	PARU_PATH=/tmp/paru
	if [ -d $PARU_PATH ]; then
		sudo /usr/bin/rm -rf $PARU_PATH
	fi
	git clone https://aur.archlinux.org/paru.git $PARU_PATH
	(cd $PARU_PATH && makepkg -si)
fi

paru -S --nouseask --sudoloop --needed - <<EOF
aerc
ansible
base
brightnessctl
calc
chezmoi
dhcpcd
dino
docker
docker-compose
efibootmgr
exa
fd
ffmpeg
firefox
flux-bin
foot
fzf
git-delta
git-lfs
go
goimapnotify
grim
groff
grub
gruvbox-dark-gtk
gruvbox-dark-icons-gtk
helm
helm-docs
htop
hugo
isync
j4-dmenu-desktop-git
jq
kde-cli-tools
keepassxc
khal
khard
kitty
kubectl
kubeseal
kunst-git
linux-firmware
linux-lts
lvm2
lxappearance
mako
man-db
man-pages
mpv
msmtp
neovim-nightly-bin
nerd-fonts-hack
nextcloud-client
nfs-utils
nnn-nerd
noto-fonts
noto-fonts-cjk
noto-fonts-emoji
openssh
paru
patch
pavucontrol
pfetch
powerline-fonts
qt5-styleplugins
qt5-wayland
qt5ct
rclone
reflector
ripgrep
rsync
signal-desktop
slurp
sops
sudo
sway
swayidle
swaylock
sxiv
tcpdump
tealdeer
todoman
traceroute
transmission-cli
trash-cli
urlscan
vdirsyncer
w3m
waybar
wev
wf-recorder
wget
which
wireguard-tools
wl-clipboard
wlsunset
wofi
xdg-user-dirs
xorg-xwayland
yamllint
yarn
ydotool
youtube-dl
zaread-git
zathura
zathura-pdf-mupdf
zsh
zsh-completions
EOF
{{ end }}
