{{ if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash
set -euo pipefail

sudo -v

sudo mkdir -pv /etc/mopidy /etc/xdg/reflector /etc/systemd/system/getty@tty1.service.d

sudo cp -iv "other/mopidy.conf" /etc/mopidy/mopidy.conf

sudo cp -iv "other/reflector.conf" /etc/xdg/reflector/reflector.conf

sudo cp -iv "other/getty@tty1-override.conf" \
    /etc/systemd/system/getty@tty1.service.d

{{- end }}
