{{ if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env sh
set -euo pipefail

# ask sudo upfront
sudo -v

mkdir -p "$HOME/.config/systemd/user/"

# Mail
if [ -f "$HOME/.config/systemd/user/mbsync.service" ]; then
	systemctl --user enable --now mbsync.timer
fi
systemctl --user enable --now goimapnotify@mailbox.service

# Contacts and Calendar
systemctl --user enable --now vdirsyncer.service

# Start the SSH Agent
systemctl --user enable --now ssh-agent.service

# Start relector (pacman mirrors)
sudo systemctl enable --now reflector.timer

# Start getty
sudo systemctl enable --now getty@tty1.service

{{- end }}
