{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "bat"
brew "chezmoi"
brew "docker"
brew "exa"
brew "fd"
brew "fzf"
brew "git"
brew "git-delta"
brew "git-lfs"
brew "go"
brew "khal"
brew "khard"
brew "kubernetes-cli"
brew "neovim"
brew "ripgrep"
brew "tealdeer"
brew "todoman"
brew "vdirsyncer"
brew "yarn"
cask "karabiner-elements"
cask "keepassxc"
cask "kitty"
cask "signal"
cask "slack"
cask "spotify"
EOF

$(brew --prefix)/opt/fzf/install

brew tap homebrew/cask-fonts
brew install --cask font-hack-nerd-font

brew install hashicorp/tap/terraform-ls

brew tap tigase/tigase
brew install beagleim
{{ end -}}
