{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

{{ range $domain, $elements := .osx_defaults -}}
{{ range $element, $value := $elements -}}
defaults write {{ $domain }} {{ $element }} {{ $value }}
{{ end -}}
{{ end -}}

{{ end -}}
