#!/usr/bin/env sh
set -euo pipefail

# Firefox Profile(s)
mkdir -pv $HOME/.mozilla/firefox/personal/

# Mail, Contacts and Calendar
mkdir -pv $HOME/.local/share/mail/mailbox
mkdir -pv $HOME/.local/share/contacts
mkdir -pv $HOME/.local/share/calendar

# Setup Dir Structure for files
mkdir -pv $HOME/dirs/{dl,doc,m,v,p}
mkdir -pv $HOME/dirs/v/screencaps
mkdir -pv $HOME/dirs/p/screenshots

# Setup Dir for ZSH
mkdir -pv $HOME/.local/share/zsh

