{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

# Set key repeat and disable press and hold
defaults write -g InitialKeyRepeat -int 8
defaults write -g KeyRepeat -int 1
defaults write -g ApplePressAndHoldEnabled -bool false

{{ end -}}

