{{ if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash
set -euo pipefail

mkdir -pv $HOME/.mozilla/firefox/yg6zz5br.default
curl -s -L -o flyingfox.tar.gz https://github.com/akshat46/FlyingFox/releases/download/v0.1.2/flyingfox.tar.gz
tar -xf flyingfox.tar.gz --directory $HOME/.mozilla/firefox/yg6zz5br.default/
rm flyingfox.tar.gz

{{- end }}
