[core]
cache_dir = $XDG_CACHE_DIR/mopidy
config_dir = $XDG_CONFIG_DIR/mopidy
data_dir = $XDG_DATA_DIR/mopidy
max_tracklist_length = 10000
restore_state = false

[logging]
verbosity = 0
format = %(levelname)-8s %(asctime)s [%(process)d:%(threadName)s] %(name)s\n  %(message)s
color = true
config_file =

[audio]
mixer = software
mixer_volume =
output = autoaudiosink
buffer_time =

[mpd]
enabled = true
hostname = 127.0.0.1
port = 6789

[scrobbler]
enabled = true
username = {{ (keepassxc "Last.FM").UserName }}
password = {{ (keepassxc "Last.FM").Password }}

[jellyfin]
hostname = https://jellyfin.jonnobrow.co.uk
username = {{ (keepassxc "jellyfin").UserName }}
password = {{ (keepassxc "jellyfin").Password }}
