[Mailbox]
source=notmuch://~/.local/share/mail/
outgoing=/home/jb/.local/bin/sendmail mailbox
from=Jonathan Bartlett <jonathan@jonnobrow.co.uk>
sign=true
query-map=~/.config/aerc/mailbox.query-map
default=unread
exclude-tags=uni

[University]
source=notmuch://~/.local/share/mail/
outgoing=~/.local/bin/sendmail uni
from=Jonathan Bartlett <jsb1g18@soton.ac.uk>
query-map=~/.config/aerc/uni.query-map
default=unread
exclude-tags=mailbox
