[Mailbox]
source=maildir://~/.local/share/mail/mailbox
outgoing=/home/jb/.local/bin/sendmail mailbox
from=Jonathan Bartlett <jsb@jonnobrow.co.uk>
aliases=jonathan@jonnobrow.co.uk,jonathanscott2047@gmail.com
sign=true
query-map=~/.config/aerc/mailbox.query-map
folders-sort=INBOX,Sent,Archive
copy-to=Sent
