[Mailbox]
source=notmuch://~/.local/share/mail/
outgoing=/home/jb/.local/bin/sendmail mailbox
from=Jonathan Bartlett <jsb@jonnobrow.co.uk>
sign=true
query-map=~/.config/aerc/mailbox.query-map
default=unread
exclude-tags=uni
