Host github
	Hostname github.com
	IdentityFile ~/.ssh/id_ed25519_github

Host gitlab
	Hostname gitlab.com
	IdentityFile ~/.ssh/id_ed25519_gitlab

Host srht
    Hostname git.sr.ht
    IdentityFile ~/.ssh/id_ed25519_srht

Host jbpc
    Hostname 192.168.0.13
    User jb

Host jbpi
    Hostname 192.168.0.22
    User ubuntu
    IdentityFile ~/.ssh/id_ed25519

Host espresso
    Hostname espresso.local.jonnobrow.co.uk
    User root
    IdentityFile ~/.ssh/id_ed25519

Host cappuccino
    Hostname cappuccino.local.jonnobrow.co.uk
    User jb
    IdentityFile ~/.ssh/id_ed25519
