Host github
	Hostname github.com
	IdentityFile ~/.ssh/id_ed25519_github

Host gitlab
	Hostname gitlab.com
	IdentityFile ~/.ssh/id_ed25519_gitlab

Host srht
    Hostname git.sr.ht
    IdentityFile ~/.ssh/id_ed25519_srht

Host jbpc
    Hostname 192.168.2.1
    User jb

Host mocha
    Hostname 192.168.4.3
    User ubuntu
    IdentityFile ~/.ssh/id_ed25519

Host espresso
    Hostname 192.168.4.1
    User root
    IdentityFile ~/.ssh/id_ed25519

Host cappuccino
    Hostname 192.168.4.4
    User ubuntu
    IdentityFile ~/.ssh/id_ed25519

Host cortado
    Hostname 192.168.4.53
    User root
    IdentityFile ~/.ssh/id_ed25519

Host bbs
    Hostname u275247.your-storagebox.de
    User u275247
    Port 23
    IdentityFile ~/.ssh/id_rsa_hetzner

{{ if (eq .chezmoi.os "darwin") }}
## GCP
Host 10.232.192.* 10.232.193.* 10.232.194.* 10.232.195.* *.nlaz1.prd* *.nlaz2.prd*
    User streamingadmin
    Identityfile ~/.ssh/dvn_keys/dvn_streamingadmin_id_rsa
    #ProxyCommand ssh streamingadmin@10.17.3.152 -W %h:%p
    ProxyCommand ssh streamingadmin@10.47.3.152 -W %h:%p
Host 10.232.196.* 10.232.197.* 10.232.198.* 10.232.199.* *.nlaz1.* *.nlaz2.*
    User streamingadmin
    Identityfile ~/.ssh/dvn_keys/dvn_streamingadmin_id_rsa
    #ProxyCommand ssh streamingadmin@10.17.193.152 -W %h:%p
    ProxyCommand ssh streamingadmin@10.47.193.152 -W %h:%p
Host networkmapper vm007207
    Hostname vm007207
    User {{ (keepassxc "vm007207").UserName }}
    Identityfile ~/.ssh/id_ed25519_sds
Host jumphoste upjmp0e0
    Hostname upjmp0e0
    User {{ (keepassxc "SDS Jump Hosts").UserName }}
    Identityfile ~/.ssh/id_ed25519_sds
Host jumphostf upjmp0f0
    Hostname upjmp0f0
    User {{ (keepassxc "SDS Jump Hosts").UserName }}
    Identityfile ~/.ssh/id_ed25519_sds
{{ end }}
