Host github
	Hostname github.com
	IdentityFile ~/.ssh/id_ed25519_github

Host gitlab
	Hostname gitlab.com
	IdentityFile ~/.ssh/id_ed25519_gitlab

Host srht
    Hostname git.sr.ht
    IdentityFile ~/.ssh/id_ed25519_srht

Host jbpc
    Hostname 192.168.2.1
    User jb

Host mocha
    Hostname 192.168.4.3
    User ubuntu
    IdentityFile ~/.ssh/id_ed25519

Host espresso
    Hostname 192.168.4.1
    User root
    IdentityFile ~/.ssh/id_ed25519

Host cappuccino
    Hostname 192.168.4.2
    User root
    IdentityFile ~/.ssh/id_ed25519

Host cortado
    Hostname 192.168.4.53
    User root
    IdentityFile ~/.ssh/id_ed25519

Host bbs
    Hostname u275247.your-storagebox.de
    User u275247
    Port 23
    IdentityFile ~/.ssh/id_rsa_hetzner

