[global]
username = "{{ (keepassxc "Spotify").UserName }}"
password = "{{ (keepassxc "Spotify").Password }}"
device_name = "{{ .chezmoi.hostname }}"
bitrate = 320
device_type = "computer"
{{- if (eq .chezmoi.os "darwin") }}
backend = "portaudio"
volume_controller = "softvol"
{{ else if (eq .chezmoi.os "linux") }}
backend = "pulseaudio"
volume_controller = "alsa"
{{- end }}

