snippet blog "Hugo Blog Post Stub"
+++
title = "$1"
author = ["Jonathan Bartlett"]
date = `date +%Y-%m-%d`
draft = true
+++

<details>
<summary>
tl;dr
</summary>
<p class="details">
</p>
</details>
endsnippet
	

