# Appeareance
source powerline/powerline.neomuttrc

# Bindings
source bindings

## status bar, date format, finding stuff etc.
set status_chars = " *%A"
set status_format = "[ Folder: %f ] [%r%m messages%?n? (%n new)?%?d? (%d to delete)?%?t? (%t tagged)? ]%>─%?p?( %p postponed )?"
set date_format = "%d.%m.%Y %H:%M"
set index_format = "[%Z] %?X?A&-? %D  %-20.20F  %s"
set sort = threads
set sort_aux = reverse-last-date-received
set uncollapse_jump
set sort_re
set send_charset = "utf-8:iso-8859-1:us-ascii"
set charset = "utf-8"

## Pager View Options
set pager_index_lines = 10
set pager_context = 3
set pager_stop
set menu_scroll
set tilde
unset markers

## email headers and attachments
ignore *
unignore from: to: cc: bcc: date: subject:
unhdr_order *
hdr_order from: to: cc: bcc: date: subject:
alternative_order text/plain text/enriched text/html
auto_view text/html
set query_command = "mu cfind --format=mutt-ab '%s'"

# Paths
set folder = ~/.local/share/mail
set header_cache = ~/.cache/neomutt/headers
set message_cachedir = ~/.cache/neomutt/bodies
set mailcap_path = ~/.config/neomutt/mailcap

# Basic Options
set wait_key = no
set mbox_type = Maildir
set timeout = 3
set mail_check = 0
set delete
set quit
set thorough_search
set mail_check_stats
unset confirmappend
unset move
unset mark_old
unset beep_new

# Compose View Options
set envelope_from                    # which from?
set edit_headers                     # show headers when composing
set fast_reply                       # skip to compose when replying
set askcc                            # ask for CC:
set fcc_attach                       # save attachments with the body
set forward_format = "Fwd: %s"       # format of subject when forwarding
set forward_decode                   # decode when forwarding
set attribution = "On %d, %n wrote:" # format of quoting header
set reply_to                         # reply to Reply to: field
set reverse_name                     # reply as whomever it was to
set include                          # include message in replies
set forward_quote                    # include message in forwards
set editor = "nvim"
set text_flowed
unset sig_dashes                     # no dashes before sig
unset mime_forward                   # forward attachments as part of body

# Sidebar options
set sidebar_visible
set sidebar_short_path
set sidebar_folder_indent
set sidebar_width = 25
set sidebar_divider_char = ' | '
set sidebar_indent_string = '    '
set sidebar_format = "%B %* [%?N?%N / ?%S]"

# Mailboxes for the sidebar
mailboxes =mailbox/INBOX
mailboxes =mailbox/Archive =mailbox/Sent 
mailboxes =mailbox/Drafts =mailbox/Trash
mailboxes =uni/INBOX
mailboxes =uni/Archive =uni/Sent 
mailboxes =uni/Drafts =uni/Trash

# Macros
## Save all attachments
macro pager S "<pipe-message> ripmime -i - -d ~/downloads && rm ~/downloads/textfile*" "Save all non-text attachments using ripmime"
## opening urls with urlscan
macro pager \cb "<pipe-message> urlscan<Enter>" "call urlscan to extract URLs out of a message"
## Sync all email
macro index,pager O "<shell-escape>mbsync -c ~/.config/isync/mbsyncrc -a<enter>" "run mbsync to sync all mail"

# Account Config
set realname = "Jonathan Bartlett"
set spoolfile = "+mailbox/INBOX"
source ~/.config/neomutt/accounts/mailbox

# Hooks
folder-hook mailbox/* source ~/.config/neomutt/accounts/mailbox
folder-hook uni/* source ~/.config/neomutt/accounts/uni
