[user]
	signingkey 		= {{ .gpg_keyid }}
	email	     		= {{ .email }}
	name	     		= {{ .name }}
[gpg]
	program    		= gpg2
[init]
	defaultBranch = main
[pull]
	rebase        = true
[alias]
	lg            = log --stat --pretty --graph --date=relative
	lgs						= log --pretty="format:%h %G? %aN  %s"
	c 						= commit
	cm 						= commit -m
	a 						= add
	s 						= status

# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
# set "nvim" as tool for merging
[merge]
  tool = nvim
# automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false
