[core]
  pager = delta
  excludesFile = "~/.config/git/ignore"

[interactive]
  diffFilter = delta --color-only

[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

[user]
	signingkey 		= {{ .gpg_keyid }}
	email	     		= {{ .email }}
	name	     		= {{ .name }}

[gpg]
	program    		= gpg2

[init]
	defaultBranch = main

[pull]
	rebase        = true

[alias]
	lg      = log --stat --pretty --graph --date=relative
	c 		= commit
	cm 		= commit -m
	a 		= add
	s 		= status
    ignore  = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"

# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[difftool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[diff]
  tool = nvim

# set "nvim" as tool for merging
[merge]
  tool = nvim

# automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false

[format]
  signOff = yes

# Send email commands
[sendemail]
  smtpserver = /usr/bin/msmtp
  smtpserveroption = -C
  smtpserveroption = /home/{{ .chezmoi.username }}/.config/msmtp/msmtprc
  smtpserveroption = -a
  smtpserveroption = mailbox
  annotate = yes

# Blame
[blame]
    date = relative
    coloring = highlightRecent
[color "blame"]
    highlightRecent = 234, 23 month ago, 235, 22 month ago, 236, 21 month ago, 237, 20 month ago, 238, 19 month ago, 239, 18 month ago, 240, 17 month ago, 241, 16 month ago, 242, 15 month ago, 243, 14 month ago, 244, 13 month ago, 245, 12 month ago, 246, 11 month ago, 247, 10 month ago, 248, 9 month ago, 249, 8 month ago, 250, 7 month ago, 251, 6 month ago, 252, 5 month ago, 253, 4 month ago, 254, 3 month ago, 231, 2 month ago, 230, 1 month ago, 229, 3 weeks ago, 228, 2 weeks ago, 227, 1 week ago, 226

# vim: ft=ini tabstop=2

