###############################
######## Mailbox.org ##########
###############################

IMAPAccount mailbox
Host imap.mailbox.org
User {{ (keepassxc "Mailbox").UserName }}
Pass {{ (keepassxc "Mailbox").Password }}
SSLType STARTTLS
SSLVersions TLSv1.2

# Remote Storage
IMAPStore mailbox-remote
Account mailbox

# Local Storage
MaildirStore mailbox-local
Path ~/.local/share/mail/mailbox/
Inbox ~/.local/share/mail/mailbox/INBOX
SubFolders Verbatim

Channel mailbox
Far :mailbox-remote:
Near :mailbox-local:
Patterns *
Create Both
Expunge Both
SyncState *
CopyArrivalDate yes
