[general]
status_path = "~/.local/share/vdirsyncer/status/"

[pair nextcloudcontacts]
a = "nextcloudcontacts_local"
b = "nextcloudcontacts_remote"
collections = ["contacts"]
conflict_resolution = ["command", "nvim", "-d"]

[storage nextcloudcontacts_local]
type = "filesystem"
path = "~/.local/share/contacts/nextcloud/"
fileext = ".vcf"

[storage nextcloudcontacts_remote]
type = "carddav"
url = "https://nc.jonnobrow.co.uk/remote.php/dav/"
username = "{{ (keepassxc "Server (Coffee Shop)/Nextcloud").UserName }}"
password = "{{ (keepassxc "Server (Coffee Shop)/Nextcloud").Password }}"

[pair nextcloudcalendars]
a = "nextcloudcalendars_local"
b = "nextcloudcalendars_remote"
collections = ["personal", "contact_birthdays", "personal_shared_by_IzzyBobLucas", "boo", "tutoring", "work_shared_by_IzzyBobLucas"]
conflict_resolution = ["command", "nvim", "-d"]


[storage nextcloudcalendars_local]
type = "filesystem"
path = "~/.local/share/calendar/nextcloud/"
fileext = ".ics"

[storage nextcloudcalendars_remote]
type = "caldav"
url = "https://nc.jonnobrow.co.uk/remote.php/dav/"
username = "{{ (keepassxc "Server (Coffee Shop)/Nextcloud").UserName }}"
password = "{{ (keepassxc "Server (Coffee Shop)/Nextcloud").Password }}"
