account mailbox
host smtp.mailbox.org
port 587
protocol smtp
auth on
password {{ (keepassxc "Mailbox" ).Password }}
from {{ (keepassxc "Mailbox" ).UserName }}
user {{ (keepassxc "Mailbox" ).UserName }}
tls on
tls_starttls on

