{
    "host": "imap.mailbox.org",
    "port": 993,
    "tls": true,
    "tlsOptions": {
        "rejectUnauthorized": false
    },
    "username": "{{ (keepassxc "Mailbox").UserName }}",
    "password": "{{ (keepassxc "Mailbox").Password }}",
    "onNewMail": "mbsync -c /home/{{.chezmoi.username}}/.config/isync/mbsyncrc mailbox",
    "onNewMailPost": "mu index && notify-send 'New Mail',
    "boxes": [ "INBOX" ]
}
