{
    "host": "outlook.office365.com",
    "port": 993,
    "tls": true,
    "tlsOptions": {
        "rejectUnauthorized": false
    },
    "username": "{{ (keepassxc "Southampton Email").UserName }}",
    "password": "{{ (keepassxc "Southampton Email").Password }}",
    "onNewMail": "mbsync -c /home/{{.chezmoi.username}}/.config/isync/mbsyncrc uni",
    "onNewMailPost": "notmuch new && notify-send 'New Mail from Uni' --icon=mail",
    "boxes": [ "INBOX" ]
}
