## 
## Bindings
## Author: Jonathan Bartlett <jsb@jonnobrow.co.uk>
##

# Mod Key to Use
set $mod Mod4

# VIM Good?
set $left  h
set $down  j
set $up    k
set $right l

# Variables: Update these to modify the apps launched with binds
set $term    foot 
set $menu    j4-dmenu-desktop --display-binary --no-generic \
                --term=foot \
                --usage-log=$HOME/.local/share/j4/log \
                --dmenu='fzfmenu -d'
set $browser "fzfmenu -p"
set $scratchpad "fzfmenu -s"
set $visual  "foot nvim"
set $lock    "/usr/bin/swaylock"

# Main App Launch Bindings
bindsym $mod+Return  exec $term
bindsym $mod+d       exec $menu
bindsym $mod+s       exec $scratchpad
bindsym $mod+w       exec browser
bindsym $mod+Shift+w exec $visual
bindsym $mod+Shift+q kill

floating_modifier $mod normal

# Window movement and focus
bindsym $mod+$left        focus left
bindsym $mod+$down        focus down
bindsym $mod+$up          focus up
bindsym $mod+$right       focus right
bindsym $mod+Shift+$left  move left
bindsym $mod+Shift+$down  move down
bindsym $mod+Shift+$up    move up
bindsym $mod+Shift+$right move right

# Laptop Special Buttons
{{ if (eq .chezmoi.hostname "jblp") }}
bindsym XF86AudioRaiseVolume  exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym XF86AudioLowerVolume  exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioMute         exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute      exec pactl set-source-mute @DEFAULT_SOURCE@ toggle
bindsym XF86MonBrightnessDown exec brightnessctl set 5%-
bindsym XF86MonBrightnessUp   exec brightnessctl set +5%
bindsym XF86AudioPlay         exec mpc toggle
bindsym XF86AudioNext         exec mpc next
bindsym XF86AudioPrev         exec mpc prev
bindsym XF86Search            exec $menu
{{ end }}

# Reload/Exit Sway
bindsym $mod+Shift+c reload
bindsym $mod+Shift+e exec swaynag -t warning -m 'Really exit sway?' -B 'Yes, exit sway' 'swaymsg exit'

# Print Screen
bindsym Print       exec grim -g "$(slurp)" $(xdg-user-dir PICTURES)/screenshots/$(date +'%s_grim.png')
bindsym Shift+Print exec foot wf-recorder -g "$(slurp)" --audio --file=$(xdg-user-dir VIDEOS)/screencaps/$(date +'%s_wfrecorder.mp4')

# Splits
bindsym $mod+b splith
bindsym $mod+v splitv

# Overlay sticky window, great for watching videos etc
bindsym $mod+y       fullscreen disable; floating enable; resize set 640 480; sticky enable; move window to position 1240 540
bindsym $mod+Shift+y fullscreen disable; floating disable; sticky disable

# Fullscreen and floating
bindsym $mod+f           fullscreen
bindsym $mod+Shift+space floating toggle
bindsym $mod+space       focus mode_toggle
bindsym $mod+a           focus parent

# Resize mode bindings
mode "resize" {
    bindsym $left  resize shrink width 10px
    bindsym $down  resize grow height 10px
    bindsym $up    resize shrink height 10px
    bindsym $right resize grow width 10px

    # Return to default mode
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+r mode "resize"

# Scratch path
bindsym $mod+Shift+minus move scratchpad
bindsym $mod+minus scratchpad show

# Workspace Bindings
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
